.catalog__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: -30px;
}

.catalog h2 {
    width: 100%;
    text-align: left;
    margin-left: 20px;
}