.brand-filter {
  position: relative;
  text-align: left;
  margin: 10px;
  margin-right: 50px;
  white-space: nowrap;
}

.brand-filter ul {
  padding: 0;
}

.brand-filter ul {
  list-style: none;
}

.brand-filter__all-brands {
  cursor: pointer;
}

.brand-filter__all-brands.active {
  font-weight: bold;
}

.brand-filter:after {
  content: '';
  position: absolute;
  height: 300px;
  width: 3px;
  background: green;
  top: 20px;
  left: 115px;
}

@media screen and (max-device-width: 575px) {
  .brand-filter:after {
    visibility: hidden;
  }
}

