.basket-content__header {
  text-transform: uppercase;
  font-weight: bold;
}

.basket-content__header {
  min-height: 150px;
  align-items: center;
}

.basket-content__price,
.basket-content__qty,
.basket-content__total {
  flex-basis: 100px;
}

.basket-content__div-block {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
}

.basket-content__title {
  min-width: 85px;
}

.basket-content__div-block-2 {
  width: 20px;
  height: 20px;
}

.basket-content__subtotal {
  font-weight: bold;
  font-size: 30px;

  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}

.basket-content__checkout {
  text-align: center;
  width: 120px;
}
