.basket-item {
  min-height: 150px;
  align-items: center;
  border-bottom: 2px solid red;
}

.basket-item__price,
.basket-item__qty,
.basket-item__total {
  flex-basis: 100px;
}

.basket-item__title {
  min-width: 85px;
}

.bi-trash-fill {
  cursor: pointer;
}

.basket-item__qty-input {
  width: 50px;
  height: 30px;
}


