.basket-header__nav {
  padding: 5px;
  padding-right: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  background-color: darkblue;
  align-content: center;
  align-items: center;
  position: relative;
}

.basket-header__to-catalog-link {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}