.product-item {
    margin: 30px;
    margin-bottom: 60px;
    position: relative;
    width: 180px;
    height: 300px;

}

.product-item p {
    margin: 0;
}

.product-item img {
    width: 170px;
    height: 200px;
}

.product-item__product-name {
    font-size: 1rem;
}

.product-item__brand-name {
    font-size: 0.8rem;
}

.product-item__product-price {
    font-size: 0.9rem;
}

.product-item__add-to-basket-desc {
    position: absolute;
    top: 80px;
    left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    visibility: hidden;
}

.product-item__add-to-basket-desc.active {
    visibility: visible;
}

.product-item.in-basket {
    opacity: 0.3;
}

.product-item__option-color {
    width: 30px;
    height: 15px;
    margin: 3px;
}

.product-item__option-size {
    width: 30px;
    height: 15px;
    margin: 3px;
    border: black 1px solid;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.product-item__options-break {
    flex-basis: 100%;
}

.product-item__option-size.out-of-stock {
    opacity: 0.3;
}

.product-item__option-color.out-of-stock {
    opacity: 0.3;
}

.product-item__option-size.active {
    opacity: 1;
    border: yellow 2px solid;
}

.product-item__option-color.active {
    opacity: 1;
    border: yellow 2px solid;
}
