.header__nav {
  padding: 5px;
  padding-right: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: darkblue;
  align-items: center;
  position: relative;
}

.header__nav svg {
  position: absolute;
  top: -5px;
  right: 8px;
}

.header__basket {
  font-size: 2rem;
}

.header__products-counter {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 6px;
  right:27px;
}